<h1>New Post</h1>

<%= form_for(@post) do |f| %>

	<%= f.label :content %>
	<%= f.text_area :content %>

	<%= f.number_field :user_id, hidden: true, value: session[:user_id] %>

	<%= f.submit "Submit post" %>
<% end %>